.dashboard-top {
  display: flex;
  justify-content: flex-end;
}

.add-item-btn {
  margin-bottom: 1rem;
}

.card {
  margin-bottom: 5px;
}

.card-content {
  padding: 15px;
}

.save-btn {
  margin-bottom: 15px;
}

.save-all-btn {
  display: block;
  margin: 10px 0 15px 0;
}

.expire-dates-list {
  padding-bottom: 30px;
}

.pagination {
  float: center;
  margin-top: 1rem;
}

.item {
  display: block;
}

.close-item {
  display: none;
}

.my-alert {
  transition: 0.5s ease-out;
}